.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 61.2em 1900.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.add:before {
      background-position: 0em 0em;
      width: 3em;
      height: 3em;
  }




  .icon.arrow-coner-top:before {
      background-position: 0em -3em;
      width: 0.8000999999999999em;
      height: 1.3em;
  }




  .icon.arrow-conner-left:before {
      background-position: 0em -4.3em;
      width: 1.4em;
      height: 1em;
  }




  .icon.arrow-conner-right:before {
      background-position: 0em -5.3em;
      width: 1.4em;
      height: 1em;
  }




  .icon.arrow-down:before {
      background-position: 0em -6.3em;
      width: 12.9em;
      height: 12.9em;
  }




  .icon.arrow-down-fat:before {
      background-position: 0em -19.2em;
      width: 45.1847em;
      height: 45.1847em;
  }




  .icon.arrow-left:before {
      background-position: 0em -64.4em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-left-fat:before {
      background-position: 0em -112.2em;
      width: 49.2em;
      height: 49.2em;
  }




  .icon.arrow-right:before {
      background-position: 0em -161.4em;
      width: 47.7175em;
      height: 47.7175em;
  }




  .icon.arrow-right-fat:before {
      background-position: 0em -209.2em;
      width: 49.2004em;
      height: 49.2004em;
  }




  .icon.arrow-round-left:before {
      background-position: 0em -258.5em;
      width: 48.96em;
      height: 48.96em;
  }




  .icon.arrow-up:before {
      background-position: 0em -307.5em;
      width: 6.4em;
      height: 6.4em;
  }




  .icon.arrow-up-fat:before {
      background-position: 0em -313.9em;
      width: 45.1847em;
      height: 45.1846em;
  }




  .icon.cancel:before {
      background-position: 0em -359.1em;
      width: 47.519999999999996em;
      height: 47.519999999999996em;
  }




  .icon.card:before {
      background-position: 0em -406.7em;
      width: 3.3em;
      height: 2.3em;
  }




  .icon.cart:before {
      background-position: 0em -409em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.cart--color:before {
      background-position: 0em -460.2em;
      width: 2.52em;
      height: 2.4em;
  }




  .icon.cart-empty:before {
      background-position: 0em -462.6em;
      width: 1.358em;
      height: 1.3691em;
  }




  .icon.cat-candy:before {
      background-position: 0em -464em;
      width: 1.5em;
      height: 1.5048em;
  }




  .icon.cat-hot:before {
      background-position: 0em -465.6em;
      width: 1.2559em;
      height: 1.4775em;
  }




  .icon.cat-vegan:before {
      background-position: 0em -467.1em;
      width: 1.2452em;
      height: 0.7692em;
  }




  .icon.check:before {
      background-position: 0em -467.9em;
      width: 2em;
      height: 2em;
  }




  .icon.check-round:before {
      background-position: 0em -469.9em;
      width: 19.1667em;
      height: 19.1667em;
  }




  .icon.checked:before {
      background-position: 0em -489.1em;
      width: 2.6em;
      height: 2.6em;
  }




  .icon.clip:before {
      background-position: 0em -491.7em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.clock:before {
      background-position: 0em -542.9em;
      width: 2em;
      height: 2em;
  }




  .icon.close:before {
      background-position: 0em -544.9em;
      width: 1.8em;
      height: 1.8106000000000002em;
  }




  .icon.close-fat:before {
      background-position: 0em -546.8em;
      width: 2.19em;
      height: 2.19em;
  }




  .icon.compass:before {
      background-position: 0em -549em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.delete:before {
      background-position: 0em -552.2em;
      width: 1.8em;
      height: 2.1em;
  }




  .icon.download:before {
      background-position: 0em -554.3em;
      width: 47.12em;
      height: 47.12em;
  }




  .icon.edit:before {
      background-position: 0em -601.5em;
      width: 1.9022999999999999em;
      height: 1.8em;
  }




  .icon.exit:before {
      background-position: 0em -603.3em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.free:before {
      background-position: 0em -605.1em;
      width: 61.2em;
      height: 61.2em;
  }




  .icon.heart:before {
      background-position: 0em -666.3em;
      width: 47.170100000000005em;
      height: 47.170100000000005em;
  }




  .icon.house:before {
      background-position: 0em -713.5em;
      width: 48.619600000000005em;
      height: 48.619600000000005em;
  }




  .icon.info:before {
      background-position: 0em -762.2em;
      width: 33em;
      height: 33em;
  }




  .icon.interface:before {
      background-position: 0em -795.2em;
      width: 49.04em;
      height: 49.04em;
  }




  .icon.like:before {
      background-position: 0em -844.3em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.location:before {
      background-position: 0em -853.9em;
      width: 1.4776em;
      height: 2em;
  }




  .icon.location--color:before {
      background-position: 0em -855.9em;
      width: 2.5em;
      height: 2.5em;
  }




  .icon.login:before {
      background-position: 0em -858.4em;
      width: 1.9em;
      height: 3.3em;
  }




  .icon.mail:before {
      background-position: 0em -861.7em;
      width: 48.33em;
      height: 48.33em;
  }




  .icon.menu:before {
      background-position: 0em -910.1em;
      width: 1.7601em;
      height: 1.56em;
  }




  .icon.metro:before {
      background-position: 0em -911.7em;
      width: 2.3274999999999997em;
      height: 1.6em;
  }




  .icon.minus:before {
      background-position: 0em -913.3em;
      width: 46.9em;
      height: 46.9em;
  }




  .icon.phone:before {
      background-position: 0em -960.2em;
      width: 40.533300000000004em;
      height: 40.533300000000004em;
  }




  .icon.phone-call:before {
      background-position: 0em -1000.8em;
      width: 47.3806em;
      height: 47.3806em;
  }




  .icon.plus:before {
      background-position: 0em -1048.2em;
      width: 44.8em;
      height: 44.8em;
  }




  .icon.profile:before {
      background-position: 0em -1093em;
      width: 5.5em;
      height: 5.5em;
  }




  .icon.refresh:before {
      background-position: 0em -1098.5em;
      width: 2.48em;
      height: 2.0100000000000002em;
  }




  .icon.repeat:before {
      background-position: 0em -1100.6em;
      width: 2.4em;
      height: 2.2em;
  }




  .icon.sad:before {
      background-position: 0em -1102.8em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.search:before {
      background-position: 0em -1154em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.share:before {
      background-position: 0em -1205.2em;
      width: 48.160000000000004em;
      height: 48.160000000000004em;
  }




  .icon.shopping-cart:before {
      background-position: 0em -1253.4em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.smile:before {
      background-position: 0em -1304.6em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.smile-good:before {
      background-position: 0em -1355.8em;
      width: 4.3em;
      height: 4.3em;
  }




  .icon.soc-facebook:before {
      background-position: 0em -1360.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-fl:before {
      background-position: 0em -1411.3em;
      width: 1.2281em;
      height: 1.0243em;
  }




  .icon.soc-in:before {
      background-position: 0em -1412.4em;
      width: 43.011700000000005em;
      height: 43.011700000000005em;
  }




  .icon.soc-instagram:before {
      background-position: 0em -1455.5em;
      width: 43.8536em;
      height: 43.8536em;
  }




  .icon.soc-ok:before {
      background-position: 0em -1499.4em;
      width: 9.5481em;
      height: 9.5481em;
  }




  .icon.soc-telegram:before {
      background-position: 0em -1509em;
      width: 30em;
      height: 30em;
  }




  .icon.soc-twitter:before {
      background-position: 0em -1539em;
      width: 41.015499999999996em;
      height: 41.015499999999996em;
  }




  .icon.soc-vk:before {
      background-position: 0em -1580.1em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-whatsapp:before {
      background-position: 0em -1631.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.soc-youtube:before {
      background-position: 0em -1682.5em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.star:before {
      background-position: 0em -1733.7em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.tick--color:before {
      background-position: 0em -1735.3em;
      width: 51.2em;
      height: 51.2em;
  }




  .icon.time:before {
      background-position: 0em -1786.5em;
      width: 2em;
      height: 2em;
  }




  .icon.unlike:before {
      background-position: 0em -1788.5em;
      width: 9.6em;
      height: 9.5428em;
  }




  .icon.upload:before {
      background-position: 0em -1798.1em;
      width: 51.2001em;
      height: 51.2001em;
  }




  .icon.user:before {
      background-position: 0em -1849.4em;
      width: 51.2em;
      height: 51.2em;
  }





