include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--empty
		.main-cont
			.about-banner(style="background-image:url('img/about.jpg')")
			.title-row.mb-32
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title.title--xl О нас

			.text.mb-48
				p Почему мы называем себя НОМЕР 1? Да, мы не первые, кто показал городу шаурму, и не единственные, кто готовит пиццу и воки в коробочках. Так почему же? Все просто.

				p Вы любите кушать. Вкусно кушать. Даже слишком вкусно. А мы умеем готовить до невозможности аппетитную и суперсытную еду, что просто пальчики оближешь! Наша компания рождена для того, чтобы одна только мысль о нашем меню заставляла слюнки течь, а желудки - радоваться. Чтобы работать со всей душой и ловить от этого кайф. Чтобы делать вас и вашу семью улыбчивыми и счастливыми. Чтобы быть для вас лучшими, а значит НОМЕРОМ 1.

			.g.g-2.md__g-1.g-gap-48.mb-64.text
				.g-el
					.box.bg-snow
						.type--md.type--bold.mb-24 И знаете, у нас есть на это все основания, а все потому что мы:
						.point
							.point-val 1
							.point-cont
								p Любим своих гостей. То, чем живет наша команда. Каждый день мы стремимся приготовить для вас как можно больше по-настоящему вкусной еды.
						.point
							.point-val 2
							.point-cont
								p Производим сами. Все верно, у нас есть собственный цех, который подготавливает мясо, овощи и тесто для дальнейшего творчества нашими талантливыми поварами.
						.point
							.point-val 3
							.point-cont
								p Голосуем за качество. Пожалуй, самый главный принцип, которого мы придерживаемся. Только натуральная Моцарелла (именно поэтому сыр тянется как в рекламе), лапша собственного приготовления, ароматнейшие специи и пышно-нежное тесто по секретному рецепту – какого, не побоимся этого слова, больше нет в городе!
						.point
							.point-val 4
							.point-cont
								p Стремимся к высотам. Постоянное развитие – без этого жизни не представляем. Ежедневно черпаем друг от друга все новые и новые знания, впитывая их как губка.
						.point
							.point-val 5
							.point-cont
								p Прокачиваем сервис. Мы доставляем еду за 59 минут или дарим сертификат на бесплатную пиццу при следующем заказе. Вы и не заметите, насколько быстро горячий заказ окажется на вашем столе!
				.g-el
					.type--lg.type--bold.mb-24 Немного истории
					.year-wrap.js-tab-wrap
						.year-line-wrap.mb-24
							.year-line.js-tick-cont
								- for (var i=0;i<8;i++)
									.year-el.js-tick.js-tab(class=i===0?'active':'') 201#{i}
						- for (var i=0;i<8;i++)
							.year-descr.text.js-tab-cont(class=i===0?'active':'')
								p Как все начиналось? #{i+1}
								p Конечно же, с шаурмы. В 2010 году самым популярным фастфудовым направлением была именно она. Признаемся, многие вынашивали идею о создании места c самой вкусной шаурмой в городе, однако смельчаков оказалось крайне мало. Но, как вы уже догадались, 2 студентов политеха все же решились. Ими были мы.
								p Конечно же, с шаурмы. В 2010 году самым популярным фастфудовым направлением была именно она. Признаемся, многие вынашивали идею о создании места c самой вкусной шаурмой в городе, однако смельчаков оказалось крайне мало. Но, как вы уже догадались, 2 студентов политеха все же решились. Ими были мы.
								if(i%2)
									p На протяжении двух лет мы консультировались с лучшими представителями фастфуда нашего города, перепробовали все виды шаурмы, которые только попадались на пути, переделали массу рецептов, пока не нашли лучший.
								if(i%3)
									p На протяжении двух лет мы консультировались с лучшими представителями фастфуда нашего города, перепробовали все виды шаурмы, которые только попадались на пути, переделали массу рецептов, пока не нашли лучший.
									p На протяжении двух лет мы консультировались с лучшими представителями фастфуда нашего города, перепробовали все виды шаурмы, которые только попадались на пути, переделали массу рецептов, пока не нашли лучший.

		.main-cont
			.invite.mb-48
				.invite__img
					img(src="img/person/person-glass--right.svg", alt="")
				.invite__cont
					.type--lg.type--bold.mb-16 Мы знаем, как заработать на фастфуде #[span.type--mark 650 000 рублей* чистыми] &nbsp; в месяц
					.type--main.mb-12 И сопровождаем партнеров до этой цифры и дальше
					.type--sm.type--gray.mb-24 *средний показатель чистой прибыли через 8 месяцев работы ресторана сети Гриль №1
					.btn--md.btn--mark.btn--mobile Подробнее о франшизе

		.subscr-wrap
			.main-cont
				.subscr-cont
					.title.title--lg Оформите подписку
					p Подпишитесь на рассылку и получайте секретные предложения от гигант-суши
					.input-cont.input-cont--two
						.input-row
							input(type="text" placeholder="Ваше имя" class="input")
						.input-row
							input(type="text" placeholder="Телефон" class="input").input-mask--phone
					.subscr-conf
						.login-remember
							.check-el
								label.style-label.style-label--checkbox
									input(type="checkbox").style-input
									.style-input-element
										+icon("checked","icon")
									.style-input-text Я ознакомился с #[a(href="#") политикой конфиденциальности], #[a(href="#") публичной офертой] и даю согласие на обработку моих персональных данных
						.btn--mark.btn--sm.btn--mobile Подписаться
	+footer()
include ./block_html/_script.pug
