include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.order
				.order-cont
					.order-item
						.title-row
							.arrow(onclick="window.history.go(-1); return false;")
								+icon("arrow-conner-left","icon")
							.title.title--xl Корзина
						.order__el-wrap
							- for (var i=0;i<5;i++)
								.order__el
									.order__el-info
										a(href="#" style="background-image:url('img/item-2.jpg')" ).order__img
										.order__name
											a(href="#").order__name-text Макси маки
											.order__adds + оливки, 30 г + фрикадельки + оливки, 30 г + фрикадельки
									.order__el-change
										.order__inc
											+incr(1,"incr--mark-light incr--mdx")
										.order__price
											.order__price__false 1200 р
											.order__price__true 800 р
										.order__delete
											+icon("delete","icon")
						.title.title--lg Не забудьте добавить к заказу:
						.order-add.order-add--sm
							- for (var i=0;i<4;i++)
								+product-sm()
					.order-condition
						.steps
							a(href="#").step__el.step__el--active
								.step__el-val 1
								.step__el-name Корзина
							.step-line
							a(href="#").step__el
								.step__el-val 2
								.step__el-name Оформление заказа
							.step-line
							a(href="#").step__el
								.step__el-val 3
								.step__el-name Заказ принят
						.order-condition-wrap.stick
							.title.title--lg Мой заказ
							.input-row
								.input-get
									input(type="text" size="10" placeholder="Промокод" class="input")
									.input-get__btn.disable Применить

							.goods-list
								- for (var i=0;i<4;i++)
								.goods-list__el
									.goods-list__el-name San Benedetto Aquavitamin an Benedetto
									.goods-list__el-val x 2
									.goods-list__el-cost 1003 р.
								.goods-list__el
									.goods-list__el-name.goods-list__el-name--gray Приборы
									.goods-list__el-val x 2
									.goods-list__el-cost 1003 р.
								.goods-list__el
									.goods-list__el-name.goods-list__el-name--gray Доставка
									.goods-list__el-val
									.goods-list__el-cost 200 р.
							.order-sale.modal-get(data-modal="enter")
								.type--mark.type--bold Получить кэшбэк 3%
								.tooltip.tooltip--mark.tooltip--icon ?
									.tooltip-cont.tooltip-cont--bottom-center
										.tooltip-conner
										.type--mark Авторизуйся на сайте и получи 3% от суммы заказа на свой бонусный счет. Оплачивай бонусами до 30% от суммы следующей покупки

							.order-total
								.order-total__text Итого:
								.order-total__val 1 184р
							.btn--md.btn--full.btn--mark.order-total-get Оформить заказ
								//remove .btn--disable
			.mobile-total.js-mobile-total
				.mobile-total__sale.modal-get(data-modal="enter") Получить кэшбэк 3%
				.mobile-total-cont.js-mobile-total-cont
					.mobile-total__title Итого
					.mobile-total__val 2 650 р
					a(href="#").mobile-total__get.btn--md.btn--mark Оформить <span>заказ</span>
			// recommend
			.title.title--lg Вам также могут понравиться
			.product-cont-row
				.product-cont
					- for (var i=0;i< 4;i++)
						+product()
			// recommend === end
	+footer(true)
include ./block_html/_script.pug
