include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		-
			var items = [
				{name: "Пицца", id: "pizza"},
			];
		each item,j in items
			.product-wrap(id=item.id)
				.main-cont
					.bread.mb-32
						a(href="#").bread__el Главная
						.bread__el
							.dropdown.dropdown--empty
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-current__val Пицца
									+icon("arrow-down-fat","icon")
								.dropdown-menu.dropdown-menu--lg
									-
										var els = [
											'Пицца',
											'WOK',
											'Шурма',
											'Кесадия',
											'Пироги',
											'Супы',
											'Десерты',
											'Напитки',
											'Снеки',
											'Рыба',
											];
									each el,i in els
										a(href="#" class=i===0?'active':'').dropdown-menu__el #{el}

					.title-row.mb-24
						.title.title--xl #{item.name}
							.title-val 15


					.tag-wrap
						.tag.js-tag-cont
							.tag-el.js-tag.tooltip(data-condition="1")
								span new
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Новые рецепты пиццы из тонкого и толстого теста
							.tag-el.js-tag.tooltip(data-condition="2")
								span hit
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Этот товар выбирают все покупатели
							.tag-el.js-tag.tooltip(data-condition="3")
								+icon("cat-candy","icon")
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Сладкие рецепты для вашего вкуса
							.tag-el.js-tag.tooltip(data-condition="4")
								+icon("cat-hot","icon")
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Острые варианты наших любимых блюд
							.tag-el.js-tag.tooltip(data-condition="5")
								+icon("cat-vegan","icon")
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Продукты без  мяса
						.product-cont-row
							.product-cont
								- for (var i=0;i<2;i++)
									+product('item-' + (j + 1) + '.jpg','1 2 3 4')
									+product('item-' + (j + 1) + '.jpg','1 4 3')
									+product('item-' + (j + 1) + '.jpg','5')
									+product('item-' + (j + 1) + '.jpg','3')
								//a(href="#").product-sale
									div(style="background-image:url('img/sale-board-1--lg.jpg')").product-sale__el.product-sale__el--lg
									div(style="background-image:url('img/sale-board-1--sm.jpg')").product-sale__el.product-sale__el--sm


	+footer()
include ./block_html/_script.pug
