include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.title-row.mb-32
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title.title--xl Контакты Барнаул

			.map.mb-48
				.map__el
			.g.g-gap-24.md__g-1.g-3.mb-48
				- for (var i=0;i<2;i++)
					.connect
						.connect__name Георгиева, 44
						.connect__phone 8 (3852) 57-17-76
						.connect__type Доставка: 10:00 - 22:30
						.connect__type Самовывоз: 9:00 - 23:59
					.connect
						.connect__name Энтузиастов, 30б
						.connect__phone 8 (3852) 17-12-71
						.connect__type Доставка: 10:00 - 22:30
						.connect__type Самовывоз: 9:00 - 23:59
					.connect
						.connect__name Белинского,15б
						.connect__phone 8 (3852) 17-12-71
						.connect__type Доставка: 10:00 - 22:30
						.connect__type Самовывоз: 9:00 - 23:59
			.g.g-gap-24.md__g-1.g-2
				.g-el.text
					.type--lg.type--bold.mb-24 Реквизиты
					p ИП Сергеев Станислав Викторович
					p ИНН 226815177305,
					p ОГРНИП 312222304500038
					p Адрес г.Барнаул, ул Э. Алексеевой 65, 23
					p Уведомление о регистрации в налоговом органе № 3091530 от 14.02.2012
				.g-el
					.type--lg.type--bold.mb-24 Есть вопросы? Напишите нам
					.input-cont.input-cont--two
						.input-row
							input(type="text" placeholder="Ваше имя" class="input")
						.input-row
							input(type="text" placeholder="Ваше имя" class="input").input-mask--phone
					.input-row
						textarea(name="info", cols="30", rows="6" placeholder="Расскажите о себе.").input
					+deal()
					.btn--mark.btn--md Отправить
	+footer()
include ./block_html/_script.pug
