include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content.content--gray
		//product-cont
		.main-cont
			.lk
				.lk-toolbar
					.profile
						.profile-wrap
							.flex.flex--between.g-gap-10.mb-12
								.profile__name Константин
								a(href="#").icon-block.icon-block--mark
									+icon("exit","icon")
							.profile-row
								.profile-row__name телефон
								.profile-row__val +7 (865) 543 45 45
							.profile-row
								.profile-row__name e-mail
								.profile-row__val prosto_vlad@gmail.com
							.profile-row
								.profile-row__name день рождения
								.profile-row__val 06.09.1991
							a(href="#").profile-change
								+icon("edit","icon")
								span изменить информацию
							.profile-footer
								.profile-footer-info
									.profile-footer__text.hidden у вас нет бонусов
										// for bonus = 0
									.profile-footer__text мои бонусы:
									.profile-footer__val 2500
								.profile-footer__icon
									+icon("info","icon")
					.person-notice
						img(src="img/person/person-glass.svg", alt="")
						.person-notice-info Укажите e-mail и получите купон  со скидкой 5% на любой заказ
					.person-notice.mb-24
						img(src="img/person/person-glass.svg", alt="")
						.person-notice-info Верифицируй e-mail и получите купон  со скидкой 5% на любой заказ

				.lk-info
					.lk-info__el.box
						.title.title--lg Мои адреса
						.address-wrap
							.address__el
								.address__type Дом
								.address__val Москва, ул. Петропавловская, д. 101, корп. 1, кв. 25, подъезд 8
								.address-footer
									.address-footer__el.address-edit
										+icon("edit","icon")
										span Редактировать
									.address-footer__el.address-remove
										+icon("delete","icon")
										span Удалить
							.address__el
								.address__type Работа
								.address__val Москва, ул. Петропавловская, д. 101, корп. 1, кв. 25, подъезд 8
								.address-footer
									.address-footer__el.address-edit
										+icon("edit","icon")
										span Редактировать
									.address-footer__el.address-remove
										+icon("delete","icon")
										span Удалить
							.address__el
								.address__type Загородный дом
								.address__val Москва, ул. Петропавловская, д. 101, корп. 1, кв. 25, подъезд 8
								.address-footer
									.address-footer__el.address-edit
										+icon("edit","icon")
										span Редактировать
									.address-footer__el.address-remove
										+icon("delete","icon")
										span Удалить
							.address__add
								.flex.flex-aic.g-gap-10
									+icon("plus-round","icon icon--lg icon--mark")
									.type--black.type--bold Добавить адрес
					.lk-info__el.box
						.title.title--lg История заказов
						.history
							- for (var j=0;j<5;j++)
								.history-card(class=j===0?'active':'')
									.history-card__wrap
										+icon("arrow-up-fat","icon icon--sm history-card-cond")
										.history-card__info
											.history-card__numb № 43576
											.history-card__date 20.02.2021
										if(j!=2)
											.history-card__state
												.type--main Статус заказа
												+icon("clock","icon icon--sm history-card__state-icon")
												.type--main.type--bold Ждет вас
										else
											.history-card__state
												.type--main Статус заказа
												+icon("clock","icon icon--mark icon--sm history-card__state-icon")
												.type--main.type--bold.type--mark Выполнен
											// add class .history-card__state--true for delivered

									//.history-info.history-info--active
									.history-info(class=j===0?'active':'')
										.history-info-wrap
											- for (var i=0;i<3;i++)
												.history__el
													.history__el-info
														a(href="#" style="background-image:url('img/item-2.jpg')" ).history__img
														.history__name
															a(href="#").history__name-text Фреш вок
															.history__adds + оливки, 30 г + фрикадельки + оливки, 30 г + фрикадельки
													.history__size 1 шт
													.history__price 1200 р
											.history-descr
												.history-descr__el
													.type--md.type--bold.mb-12 Способ оплаты
													.type--main Наличкой при получении
												.history-descr__el
													.type--md.type--bold.mb-12 Доставка
													.type--main Самовывоз по адресу: ул. Московская, 46/2
												.history-descr__el
													.history-total
														.history-total__text Итого:
														.history-total__val 1 184р
											.goods-get-row
												.goods-get Повторить заказ
							.history-more
								+icon("refresh","icon")
								span показать еще
							.order-empty.hidden
								.order-empty-icon
									img(src="img/box.svg", alt="")
								.order-empty-title Ваша история пуста =(
								.order-empty-text Сделайте заказ
								.btn--md.btn--mark Посмотреть меню

	+footer()
include ./block_html/_script.pug
