include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.main-slider-wrap.slider-wrap.slider-wrap--inarrow
		.slider-control-wrap
			.main-cont
				.slider-control-cont
					.slider-control.slider-control--left
						+icon("arrow-left","icon")
					.slider-control.slider-control--right
						+icon("arrow-right","icon")
		.slider-item.main-slider
			- for (var i=0;i<4;i++)
				a(href="#").main-slider__el-wrap
					.main-slider__el(style="background-image:url('img/board-1.jpg')")
	.content
		-
			var items = [
				{name: "Пицца", id: "pizza"},
				{name: "WOK", id: "wok"},
				{name: "Шурма", id: "roll"},
				{name: "Кесадия", id: "kesadia"},
				{name: "Пироги", id: "cake"},
				{name: "Супы", id: "soup"},
			];
		each item,j in items
			.product-wrap(id=item.id)
				.main-cont
					.title-row.mb-24
						.title.title--xl #{item.name}
							.title-val 15
						a(href="#").title__more-mobile
							span 23
							+icon("arrow-conner-right","icon")
					.tag-wrap
						.tag.js-tag-cont
							.tag-el.js-tag.tooltip(data-condition="1")
								span new
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Новые рецепты пиццы из тонкого и толстого теста
							.tag-el.js-tag.tooltip(data-condition="2")
								span hit
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Этот товар выбирают все покупатели
							.tag-el.js-tag.tooltip(data-condition="3")
								+icon("cat-candy","icon")
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Сладкие рецепты для вашего вкуса
							.tag-el.js-tag.tooltip(data-condition="4")
								+icon("cat-hot","icon")
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Острые варианты наших любимых блюд
							.tag-el.js-tag.tooltip(data-condition="5")
								+icon("cat-vegan","icon")
								.tooltip-cont.tooltip-cont--bottom
									.tooltip-conner
									span Продукты без  мяса
						.product-cont-row
							.product-cont
								- for (var i=0;i<2;i++)
									+product('item-'+(j+1)+'.jpg','1 2 3 4')
									+product('item-'+(j+1)+'.jpg','1 4 3')
									+product('item-'+(j+1)+'.jpg','1 2 3 5')
								//a(href="#").product-sale
									div(style="background-image:url('img/sale-board-1--lg.jpg')").product-sale__el.product-sale__el--lg
									div(style="background-image:url('img/sale-board-1--sm.jpg')").product-sale__el.product-sale__el--sm

		// seo text
		.main-cont
			.title.title--lg Доставка самой большой шаурмы в Барнауле
			.text.type--gray
				p Оформить заказ с доставкой или самовывоз вы можете через меню на нашем сайте, либо позвонив операторам по телефонам: 58-55-05 и 58-85-05 Принимаем заказы ежедневно с 10.00 до 23.00 и осуществляем доставку в любое удобное для вас место: на дом, в офис, отель, сауну, … и др.

				p Заказать доставку суши и пиццы удобно по любому поводу: корпоратив в офисе, вечеринка с друзьями, день рождения, романтический ужин или просто вкусно поесть в кругу семьи. Наши блюда – большие, вкусные и по приятной цене. Помимо блюд японской кухни мы с радостью приготовим для вас гигантские воки с разными начинками, большую и сочную пиццу, сладкие десерты.

				p Чтобы заказать еду на сайте, зайдите в раздел «Меню». Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните «Добавить в корзину» возле понравившихся блюд. Скорректируйте количество порций и введите свои контактные данные.

				p Спасибо, что выбираете нас! Приятного аппетита!
			.text.m-24.type--gray.js-commutator-cont.drop(data-item="seo")
				p Мы готовим все суши и роллы только после получения заказа и вообще не держим заранее приготовленных блюд, чтобы сохранить максимальную свежесть и качество продукции, поэтому доставка по Барнаулу занимает в среднем 1 - 1,5 часа (30-40 мин. приготовление + 30-40 мин. доставка). Также вы можете оформить самовывоз и забрать свой заказ самостоятельно уже через 30-40 минут по адресу: ул. Власихинская 164 / ул. Шумакова 59 (2 этаж).

				p Оформить заказ с доставкой или самовывоз вы можете через меню на нашем сайте, либо позвонив операторам по телефонам: 58-55-05 и 58-85-05 Принимаем заказы ежедневно с 10.00 до 23.00 и осуществляем доставку в любое удобное для вас место: на дом, в офис, отель, сауну, … и др.

				p Заказать доставку суши и пиццы удобно по любому поводу: корпоратив в офисе, вечеринка с друзьями, день рождения, романтический ужин или просто вкусно поесть в кругу семьи. Наши блюда – большие, вкусные и по приятной цене. Помимо блюд японской кухни мы с радостью приготовим для вас гигантские воки с разными начинками, большую и сочную пиццу, сладкие десерты.

				p Чтобы заказать еду на сайте, зайдите в раздел «Меню». Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните «Добавить в корзину» возле понравившихся блюд. Скорректируйте количество порций и введите свои контактные данные.

				p Спасибо, что выбираете Гигант-Суши! Приятного аппетита!

			.m-24.icon-row.toggle-seo.js-commutator-el(data-item="seo")
				span.type--sm.type--false Показать еще
				span.type--sm.type--true Скрыть
				+icon("arrow-down","icon icon--sm ")


	// seo text === end
	+footer()
include ./block_html/_script.pug
