include block_html/_style.pug
include block_html/_include.pug

style(type='text/css').
	.btn-wrap {
		display: flex;
		flex-wrap: wrap;
		flex-flow: column;
		align-items: baseline;
	}
	.btn-wrap .btn--md {
		display: inline-block;
		margin-bottom: 20px;
	}

	@media only screen and (max-width: 640px) {
		.btn-wrap .btn--md{
			width: 100%;
		}
	}
.page
	+header()
	.content
		.main-cont
			p Чтобы вызвать нужное окно добавь на элемент класс .modal-get и data-modal="имя окна"
			p Чтобы добавить метод закрытия окна по клику на элемент добавиь класс .modal-send
			.btn-wrap
				hr
				.btn--md.btn--mark.modal-get(data-modal="enter") Вход | data-modal="enter"
				.btn--md.btn--mark.modal-get(data-modal="enterPhone") Пароль - Восстановление пароля | data-modal="enterPhone"
				.btn--md.btn--mark.modal-get(data-modal="enterCode") Пароль - Код Восстановление | data-modal="enterCode"
				.btn--md.btn--mark.modal-get(data-modal="enterPass") Пароль - Восстановление пароля | data-modal="enterPass"
				.btn--md.btn--mark.modal-get(data-modal="enterPassTrue") Пароль - Восстановление пароля Успешно | data-modal="enterPassTrue"
				.btn--md.btn--mark.modal-get(data-modal="reg") Регистрация | data-modal="reg"
				.btn--md.btn--mark.modal-get(data-modal="regCode") Регистрация - код смс | data-modal="regCode"
				.btn--md.btn--mark.modal-get(data-modal="regData") Регистрация - данные | data-modal="regData"
				.btn--md.btn--mark.modal-get(data-modal="regMail") Регистрация - почта | data-modal="regMail"
				.btn--md.btn--mark.modal-get(data-modal="regTrue") Регистрация - успех | data-modal="regTrue"
				.btn--md.btn--mark.modal-get(data-modal="badAction") Ресторан закрыт | data-modal="badAction"
				.btn--md.btn--mark.modal-get(data-modal="location") Выбор города | data-modal="location"
				.btn--md.btn--mark.modal-get(data-modal="city") Список городов | data-modal="city"
				hr
				.btn--md.btn--mark.modal-get(data-modal="review") Отзывы | data-modal="review"
				.btn--md.btn--mark.modal-get(data-modal="reviewTrue") Отзывы Успех| data-modal="reviewTrue"
				.btn--md.btn--mark.modal-get(data-modal="bonus") Бонусные баллы | data-modal="bonus"
				.btn--md.btn--mark.modal-get(data-modal="staffDescription") Карьера - Описание | data-modal="staffDescription"
				.btn--md.btn--mark.modal-get(data-modal="staffForm") Карьера - Заявка | data-modal="staffForm"
				.btn--md.btn--mark.modal-get(data-modal="staffTrue") Карьера - Успешное действие | data-modal="staffTrue"
				.btn--md.btn--mark.modal-get(data-modal="profile") Редактирование профиля | data-modal="profile"
				.btn--md.btn--mark.modal-get(data-modal="address") Редактирование адреса | data-modal="address"
				.btn--md.btn--mark.modal-get(data-modal="item") Карточка товара | data-modal="item"
				//=========================================
				hr
				.btn--md.btn--mark.modal-get(data-modal="editName") Редактирование имени | data-modal="editName"
				.btn--md.btn--mark.modal-get(data-modal="editPhone") Редактирование телефона | data-modal="editPhone"
				.btn--md.btn--mark.modal-get(data-modal="editMail") Редактирование почты | data-modal="editMail"
				.btn--md.btn--mark.modal-get(data-modal="editBorn") Редактирование дня рождения | data-modal="editBorn"

	+footer()
	+modal()
include ./block_html/_script.pug
