include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.title-row
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title.title--xl Мы открыли новый ресторан
			.info-descr.text
				.sale-date
					+icon("clock","icon")
					span 21 августа 2020 г
				p Возможность получить скидку действует в течение 7-ми дней (в День рождения и 6 дней после Дня рождения)*
				p Скидка распространяется на все меню представленное на этом сайте **
				p * При себе необходимо иметь документ, в котором указана дата вашего Дня рождения.
				p ** Скидка НЕ суммируется с другими скидками («Счастливые часы», «Красная цена») и НЕ действует на блюда из разделов: Бизнес-Ланчи, Завтраки, Детское меню, Саке Шок, Коктейль Шок.
			.news-list
				- for (var i=0;i<2;i++)
					.news-list__el
						.news-list__el-img(style="background-image:url('img/sale-list-" + (i + 1) + ".jpg')")
						.news-list__el-descr
							.news-list__el-info
								.news-list__el-date
									+icon("clock","icon")
									span 21 августа 2020 г
								a(href="#").news-list__el-title Скидка в день рождения!
								.news-list__el-text.text
									p Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Товарищи! консультация с широким активом требуют определения и уточнения форм развития.
								a(href="#").btn--sm.btn--light.btn--mobile Подробнее
	+footer()
include ./block_html/_script.pug
