include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.title-row.mb-32
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title.title--xl Отзывы
			.review
				.review-wrap
					- for (var j=0;j<5;j++)
						.review__el
							.review__el-info.mb-12
								.type--md.type--bold Марина
								.star
									.star-el.star-el--active
										+icon("star","icon")
									.star-el.star-el--active
										+icon("star","icon")
									.star-el.star-el--active
										+icon("star","icon")
									.star-el.star-el--active
										+icon("star","icon")
									.star-el
										+icon("star","icon")
							.type--ms.type--gray.mb-12 15 марта 2019 13:04
							.review__el-text.mb-12.text
								p Мне подача блюда понравилась - смотрится красиво, есть защитная пленка, блюдо свежее. Красиво оформлено, разнообразный состав. Смутил только майонез, но в принципе, ничего страшного.
							if(j%2)
								.answer.mt-24
									img(src="img/logo.svg", alt="").answer-head__icon.mb-12
									.text
										p Благодарим за приятные слова! Довольные покупатели - наша лучшая награда.
					.flex.flex--mid.m-32
						.btn--md.btn--simple Показать еще
				.review-msg
					.review-msg__wrap.stick
						img(src="img/person/person-dance.svg", alt="").mb-12
						.type--md.type--bold.mb-12 Напишите отзыв
						.type--gray.type--center.mb-24  Помогите сделать <br> наш сервис еще лучше! =)
						.btn--md.btn--mark.btn--full Написать отзыв

			// seo text
			.title.title--lg Доставка самой большой шаурмы в Барнауле
			.text.type--gray
				p Оформить заказ с доставкой или самовывоз вы можете через меню на нашем сайте, либо позвонив операторам по телефонам: 58-55-05 и 58-85-05 Принимаем заказы ежедневно с 10.00 до 23.00 и осуществляем доставку в любое удобное для вас место: на дом, в офис, отель, сауну, … и др.

				p Заказать доставку суши и пиццы удобно по любому поводу: корпоратив в офисе, вечеринка с друзьями, день рождения, романтический ужин или просто вкусно поесть в кругу семьи. Наши блюда – большие, вкусные и по приятной цене. Помимо блюд японской кухни мы с радостью приготовим для вас гигантские воки с разными начинками, большую и сочную пиццу, сладкие десерты.

				p Чтобы заказать еду на сайте, зайдите в раздел «Меню». Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните «Добавить в корзину» возле понравившихся блюд. Скорректируйте количество порций и введите свои контактные данные.

				p Спасибо, что выбираете нас! Приятного аппетита!
			.text.m-24.type--gray.js-commutator-cont.drop(data-item="seo")
				p Мы готовим все суши и роллы только после получения заказа и вообще не держим заранее приготовленных блюд, чтобы сохранить максимальную свежесть и качество продукции, поэтому доставка по Барнаулу занимает в среднем 1 - 1,5 часа (30-40 мин. приготовление + 30-40 мин. доставка). Также вы можете оформить самовывоз и забрать свой заказ самостоятельно уже через 30-40 минут по адресу: ул. Власихинская 164 / ул. Шумакова 59 (2 этаж).

				p Оформить заказ с доставкой или самовывоз вы можете через меню на нашем сайте, либо позвонив операторам по телефонам: 58-55-05 и 58-85-05 Принимаем заказы ежедневно с 10.00 до 23.00 и осуществляем доставку в любое удобное для вас место: на дом, в офис, отель, сауну, … и др.

				p Заказать доставку суши и пиццы удобно по любому поводу: корпоратив в офисе, вечеринка с друзьями, день рождения, романтический ужин или просто вкусно поесть в кругу семьи. Наши блюда – большие, вкусные и по приятной цене. Помимо блюд японской кухни мы с радостью приготовим для вас гигантские воки с разными начинками, большую и сочную пиццу, сладкие десерты.

				p Чтобы заказать еду на сайте, зайдите в раздел «Меню». Каждый товар сопровождается фотографией, указанием состава ингредиентов, веса порции и стоимости. Кликните «Добавить в корзину» возле понравившихся блюд. Скорректируйте количество порций и введите свои контактные данные.

				p Спасибо, что выбираете Гигант-Суши! Приятного аппетита!

			.m-24.icon-row.toggle-seo.js-commutator-el(data-item="seo")
				span.type--sm.type--false Показать еще
				span.type--sm.type--true Скрыть
				+icon("arrow-down","icon icon--sm ")
+footer()
include ./block_html/_script.pug
