include block_html/_style.pug
include block_html/_include.pug

.page
	+header()
	.content
		.main-cont
			.info-banner.mb-48(style="background-image:url('img/sale-banner.jpg')")
			.title-row.mb-32
				.arrow(onclick="window.history.go(-1); return false;")
					+icon("arrow-conner-left","icon")
				.title.title--xl Скидка в день рождения!
			.text.mb-64
				p Возможность получить скидку действует в течение 7-ми дней (в День рождения и 6 дней после Дня рождения)*
				p Скидка распространяется на все меню представленное на этом сайте **
				p * При себе необходимо иметь документ, в котором указана дата вашего Дня рождения.
				p ** Скидка НЕ суммируется с другими скидками («Счастливые часы», «Красная цена») и НЕ действует на блюда из разделов: Бизнес-Ланчи, Завтраки, Детское меню, Саке Шок, Коктейль Шок.
				.type--sm.type--gray.mt-32 Действует до 21 августа 2020 г

			.type--lg.type--head.mb-32 Другие акции
			.sale-list
				- for (var i=0;i<3;i++)
					a(href="#").sale-list__el
						.sale-list__el-img(style="background-image:url('img/sale-list-" + (i + 1) + ".jpg')")
						.sale-list__el-descr
							.type--sm.type--gray.mb-6 до 30.11.2021
							.sale-list__el-title.type--bold.type--md.mb-6 Сладкая ПИЦЦА 30 см на день рождения
							.type--gray Заказываете пиццу или шаурму с доставкой? Не забудьте прекрасное дополнение к вашему  заказу - любимые напитки! Широкий ассортимент.  Доставляем...

	+footer()
include ./block_html/_script.pug
