-
	pages = [

		{
			'name': 'Главная',
			'href': 'main'
		},
		{
			'name': 'Каталог',
			'href': 'catalog'
		},
		{
			'name': 'Карточка товара',
			'href': 'item'
		},
		{
			'name': 'Корзина',
			'href': 'basket'
		},
		{
			'name': 'Оформление заказа',
			'href': 'form'
		},
		{
			'name': 'Акции список',
			'href': 'sale-list'
		},
		{
			'name': 'Акции подробная',
			'href': 'sale-item'
		},
		{
			'name': 'Отзывы',
			'href': 'review-list'
		},
		{
			'name': 'Вакансии',
			'href': 'vacancy'
		},
		{
			'name': 'Кабинет',
			'href': 'lk'
		},
		{
			'name': 'О компании',
			'href': 'about'
		},
		{
			'name': 'Доставка',
			'href': 'deliver'
		},
		{
			'name': 'Контакты',
			'href': 'contacts'
		},
		{
			'name': 'Обратная связь',
			'href': 'callback'
		},
		{
			'name': 'FAQ',
			'href': 'faq'
		},
		{
			'name': 'Успешное действие',
			'href': 'success'
		},
		{
			'name': 'Ошибка 404',
			'href': 'error-404'
		},
		{
			'name': 'Ошибка 500',
			'href': 'error-500'
		},
		{
			'name': 'Модальные окна',
			'href': 'modal'
		},
	]



