mixin modal()
	.modal-layer
		.modal-filter
		.modal-wrap
			// phone enter
			.modal(data-modal="enter")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Вход на сайт
					.input-row
						input(type="phone" name="phone" placeholder="Телефон" ).input.input-mask--phone
					.input-row
						input(type="password" name="password" placeholder="Пароль").input
					.btn--md.btn--mark.btn--full Войти
					.modal-link-wrap
						a(href="#").modal-link Забыли пароль
						a(href="#").modal-link Регистрация
			// phone enter === end

			// enterPhone
			.modal(data-modal="enterPhone")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Восстановление	пароля
					.modal-text Введите номер телефона и мы отправим на него код для восстановления пароля
					.input-cont
						.input-row
							input(type="phone" name="phone" placeholder="Телефон").input.input-mask--phone
					.modal-send.mb-24 Отправить
					.flex.flex--mid
						a(href="#").modal-link Я вспомнил пароль
			// enterPhone === end

			// enterCode
			.modal(data-modal="enterCode")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Восстановление	пароля
					.modal-text Введите код, который мы выслали на ваш номер телефона по СМС
					.input-cont
						.input-row
							input(type="text" name="text" placeholder="Код").input
					.btn--md.btn--mark.btn--full.mb-24 Отправить
					.flex.flex--between.js-modal-countdown-wrap(data-time="12")
						.link--mark.type--dark.type--disable.js-modal-countdown-type Отправить код еще раз
						.countdown-cont
							+icon("clock","icon icon--sm")
							.type--sm
								span.js-modal-countdown-val 60
								| &nbsp;сек
			// forgetCode === end

			// enterPass
			.modal(data-modal="enterPass")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Восстановление	пароля
					.modal-text Введите новый пароль для входа
					.input-cont
						.input-row
							input(type="password" name="password" placeholder="Новый пароль").input
					.input-cont
						.input-row
							input(type="password" name="password" placeholder="Повторите пароль").input
					.modal-send Сохранить
			// enterPass === end

			// enterPassTrue
			.modal(data-modal="enterPassTrue")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Пароль изменен успешно!
					.modal-text Теперь вы можете войти в личный кабинет, сохранить свои адреса, копить или списывать бонусы и следить за историей заказов.
					.btn--md.btn--mark.btn--full Войти
			// enterPassTrue === end

			// reg
			.modal(data-modal="reg")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Регистрация
					.input-cont
						.input-row
							input(type="phone" name="phone" placeholder="Телефон").input.input-mask--phone
					.login-remember
						.check-el
							label.style-label.style-label--checkbox
								input(type="checkbox").style-input
								.style-input-element
									+icon("checked","icon")
								.style-input-text Я ознакомлен с #[a(href="#") пользовательским соглашением] &nbsp; и даю согласие на обработку моих #[a(href="#") персональных данных]
					.btn--md.btn--mark.btn--full.mb-24.modal-get(data-modal="") Далее
					.flex.flex--mid
						a(href="#").modal-link У меня есть аккаунт
			// reg === end

			// regCode
			.modal(data-modal="regCode")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Регистрация
					.modal-text Введите код, который мы выслали на ваш номер телефона по СМС
					.input-cont
						.input-row
							input(type="text" name="text" placeholder="Код").input
					.btn--md.btn--mark.btn--full.mb-24 Отправить
					.flex.flex--between.js-modal-countdown-wrap(data-time="10")
						.type--gray.type--disable.link--mark.js-modal-countdown-type Отправить код еще раз
						.icon-row.countdown-cont
							+icon("clock","icon icon--sm")
							.type--sm
								span.js-modal-countdown-val 60
								| &nbsp;сек
			// regCode === end

			// regData
			.modal(data-modal="regData")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Регистрация
					.input-cont
						.input-row
							input(type="text" name="name" placeholder="Ваше имя").input
					.input-cont
						.input-row
							input(type="password" name="password" placeholder="Придумайте пароль").input
					.input-cont
						.input-row
							input(type="password" name="password" placeholder="Повторите пароль").input
					.btn--md.btn--mark.btn--full.modal-get(data-modal="") Далее
			// regData === end

			// regMail
			.modal(data-modal="regMail")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Регистрация
					.modal-text Получите купон на e-mail со <br> скидкой 5% на любой заказ
					.input-cont
						.input-row
							input(type="email" name="email" placeholder="Укажите E-mail").input
					.btn--md.btn--mark.btn--full.mb-24 Принять
					.flex.flex--mid
						.modal-link.modal-hide Пропустить
			// regMail === end

			// regTrue
			.modal(data-modal="regTrue")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Регистрация успешна!
					.modal-text Теперь вы можете войти в личный кабинет, сохранить свои адреса, копить / списывать бонусы и следить за историей заказов.
					.btn--md.btn--mark.btn--full.mb-24 Ок, продолжить
					.flex.flex--mid
						a(href="#").modal-link Личный кабинет
			// regTrue === end

			// bad-action
			.modal(data-modal="badAction")
				.modal-content.modal-content--dark
					.modal-close
						+icon("close","icon")
					.modal-img
						img(src="img/person/person-angry.svg", alt="")
					.modal-title Сейчас доставка не работает
					.modal-text Но вы можете оформить <br> заказ на завтра.
					a(href="#").btn--md.btn--light.btn--full Смотреть меню
			// bad-action === end

			// location
			.modal(data-modal="location")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Ваш город
					.modal-text Выберите свой город для отображения актуальных <br> товаров и цен
					.location-list-wrap
						.location-list.scroll
							.location-list__el.location-list__el--active Кемерово
							- for(var i=0;i<4;i++)
								.location-list__el Москва
								.location-list__el Санкт-Петербург
								.location-list__el Волгоград
			// location === end

			// city
			.modal.modal--xl(data-modal="city")
				.modal-content.fade-scroll
					.modal-close
						+icon("close","icon")
					.modal-head
						.type--xl.type--bold.type--mark.mb-24 125 заведений в 50 городах
					.city
						.city-search
							.city-search__person
								img(src="img/person/person-moto.svg", alt="")
							input(type="text" placeholder="Введите название города" class="input input--empty")
							.search__icon
								+icon("search","icon")
					.city-popular
						.city-popular__el Москва
						.city-popular__el Санкт-Петербург
					//.input-cont.input-cont--extend.input-cont--two
						.input-row
							.size.size--lg.size--mark
								.size__el.size__el--active.js-switch(data-item="deliver" data-group="deliverType") Доставка
								.size__el.js-switch(data-item="self" data-group="deliverType") Самовывоз
					.city-wrap.scroll
						.city-list
							- for (var i=0;i<11;i++)
								.city-list-col
									.city-list-letter A
									.city-list-list
										.city-list-el
											a(href="#").city-list-el Абакан
											a(href="#").city-list-el Артём
											a(href="#").city-list-el Ачинск
											a(href="#").city-list-el Астрахань
											a(href="#").city-list-el Альметьевск
								.city-list-col
									.city-list-letter Б
									.city-list-list
										.city-list-el
											a(href="#").city-list-el Бабкино
											a(href="#").city-list-el Бабушкина
											a(href="#").city-list-el Багаевская
											a(href="#").city-list-el Базеево
											a(href="#").city-list-el Байдаево
											a(href="#").city-list-el Байкал
											a(href="#").city-list-el Байкальск
											a(href="#").city-list-el Бакарица
								.city-list-col
									.city-list-letter В
									.city-list-list
										.city-list-el
											a(href="#").city-list-el Воронеж
											a(href="#").city-list-el Владимир
											a(href="#").city-list-el Волгоград
											a(href="#").city-list-el Владивосток
											a(href="#").city-list-el Вологда
											a(href="#").city-list-el Волгодонск
			// city === end

			// review
			.modal.modal--lg(data-modal="review")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-head
						.modal-title Оставить отзыв
						.modal-text Ваше мнение очень важно для нас, оно поможет нам стать лучше!
					.get-rating
						.get-rating-text Ваша оценка
						.star.star--edit
							.star-el.star-el--active
								+icon("star","icon")
							.star-el.star-el--active
								+icon("star","icon")
							.star-el.star-el--active
								+icon("star","icon")
							.star-el.star-el--active
								+icon("star","icon")
							.star-el
								+icon("star","icon")
					.input-cont
						.input-row
							input(type="text" placeholder="Ваше имя" class="input")
					.input-cont
						.input-row
							input(type="phone" name="phone" placeholder="Телефон" class="input").input-mask--phone
					.input-row
						textarea(name="info", cols="30", rows="6" placeholder="Сообщение").input
					+deal()
					.btn--md.btn--mark.btn--full Отправить
			// review === end

			// reviewTrue action
			.modal(data-modal="reviewTrue")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-img
						img(src="img/person/person-happy.svg", alt="")
					.type--bold.type--center.type--lg.mb-6 Отзыв отправлен
					.modal-text.modal-text--clear и появится на сайте сразу после прохождения нашей модерации
			// reviewTrue action === end

			// bonus
			.modal.modal--xl(data-modal="bonus")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Бонусные баллы
					.modal-text.type--mark.type--bold 1 бонусный балл = 1 рубль
					.modal-bonus.text.scroll
						p Бонусными баллами можно оплатить до 50% от стоимости вашего заказа. Для этого нужно при оформлении заказа выбрать количество баллов, которые вы готовы потратить.

						p Бонусные баллы не начисляются на акционные товары.
						h3 Что это значит?

						p Еда, приготовленная с душой, всегда только свежие продукты, увлечённые своим делом повара, интересное и разнообразное меню для гурманов и ценителей классики — мы предлагаем попробовать блюда разных кухонь мира и оценить преимущества.

						p Если хочется заказать еду с доставкой домой или в офис, заходите на к нам в кафе по адресу.

						p Повара готовят по традиционным и классическим рецептам, а также воплощают собственные кулинарные идеи. Мы постоянно растём и развиваемся, добавляя в меню новые интересные позиции и совершенствуя условия обслуживания, будь то доставка готовой еды на дом клиенту или в офис для корпоративного праздника.
						h3 На что можно потратить баллы?

						p Если хочется заказать еду с доставкой домой или в офис, заходите на к нам в кафе по адресу.

						p Повара готовят по традиционным и классическим рецептам, а также воплощают собственные кулинарные идеи. Мы постоянно растём и развиваемся, добавляя в меню новые интересные позиции и совершенствуя условия обслуживания, будь то доставка готовой еды на дом клиенту или в офис для корпоративного праздника.
			// bonus === end

			// staffDescription
			.modal.modal--xl(data-modal="staffDescription")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Пиццайолло
					.type--center.type--md.type--bold.mb-32 Зарплата от 10 000 грн на руки
					.text
						h3 Обязанности
						ul
							li обучать сотрудников зала как правильно обслуживать гостей;
							li следить за тем, чтобы правила и стандарты обслуживания ежедневно выполнялись;
							li добиваться от сотрудников гостеприимного обслуживания.
						h3 Требования
						ul
							li Организовывать эффективную работу смены (руководство коллективом официантов‚ барменов‚ кассиров);
							li Заниматься подбором, обучением и адаптацией персонала;
							li Составлять график работы сотрудников, вести табеля учета рабочего времени;
							li Вести необходимую документацию;
							li Соблюдать все стандарты компании и контролировать соблюдение всех стандартов персоналом;
							li А главное, обеспечивать высокое качество обслуживания гостей;
					.btn-row-mid.btn-row-mid--clear
						.btn--mark.btn--md.btn--mobile Оставить заявку
			// staffDescription === end

			// staffForm
			.modal.modal--lg(data-modal="staffForm")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Пиццайолло
					.type--center.type--md.type--bold.mb-24 Зарплата от 10 000 грн на руки
					.input-cont
						.input-row
							input(type="text" placeholder="Ваше имя" class="input")
					.input-cont
						.input-row
							input(type="phone" name="phone" placeholder="Ваш телефон" class="input").input-mask--phone
					.input-row
						textarea(name="info", cols="30", rows="6" placeholder="Расскажите о себе.").input
					.upload-wrap
						.upload
							label.upload-get
								.upload__icon
									+icon("plus-round","icon")
								.upload__text Прикрепить резюме
								input(type="file").upload-btn
						.upload-descr Формат файлов <span class="type--mark">docx</span> <span class="type--mark">doc</span> <span class="type--mark">rtf&#8194;</span> максимальный размер вложения <span class="type--mark">5&nbsp; мб</span>
						.upload-list
					+deal()
					.btn--md.btn--mark.btn--full Отправить
			// staffForm === end

			// staffTrue action
			.modal(data-modal="staffTrue")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-img
						img(src="img/person/person-happy.svg", alt="")
					.type--bold.type--center.type--lg.mb-6 Резюме отправлено
					.modal-text.modal-text--clear Наш HR-отдел рассмотрит вашу заявку и, как только мы будем готовы, пригласит вас на собеседование
			// staffTrue action === end

			// profile
			.modal.modal--lg(data-modal="profile")
				.modal-content.modal-content--md
					.modal-close
						+icon("close","icon")
					.modal-title Личные данные
					.modal-text Личные данные позволяют быстрее совершать оформление заказа, а также получать новости о наших спецпредложениях
					.input-cont
						.input-row
							input(type="text" name="name" placeholder="Имя").input
					.input-cont
						.input-row
							input(type="phone" name="phone" placeholder="Телефон" ).input.input-mask--phone
					.input-cont
						.input-row
							input(type="email" name="email" placeholder="E-mail").input
					.g.g-3.g-gap-10.xs-g-gap-0
						.input-row
							.dropdown.dropdown--lg
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-current__val Дата
									+icon("arrow-down-fat","icon")
								.dropdown-menu
									- for (var i=0;i<20;i++)
										.dropdown-menu__el(data-value="#") 25
						.input-row
							.dropdown.dropdown--lg
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-current__val Месяц
									+icon("arrow-down-fat","icon")
								.dropdown-menu
									- for (var i=0;i<20;i++)
										.dropdown-menu__el(data-value="#") Январь
						.input-row
							.dropdown.dropdown--lg
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-current__val Год
									+icon("arrow-down-fat","icon")
								.dropdown-menu
									- for (var i=0;i<20;i++)
										.dropdown-menu__el(data-value="#") 1980
					.msg.msg--info.mb-24
						.type--xs Будьте внимательны, после внесения данных, день рождения нельзя будет изменить
					.mb-12
						.flex.f-gap-12
							.tick.active.js-toggle
							.type--xs Разрешаю информировать меня о скидках и акциях по email
					.mb-24
						.flex.f-gap-12
							.tick.active.js-toggle
							.type--xs Разрешаю информировать меня о скидках и акциях по смс
					.btn--md.btn--mark.btn--full.mb-12 Сохранить
					.btn--md.btn--light.btn--full.modal-hide Отмена
			// profile === end

			// address
			.modal.modal--lg(data-modal="address")
				.modal-content.modal-content--md
					.modal-close
						+icon("close","icon")
					.modal-title Адрес доставки
					.modal-text Добавленный адрес помогает заполнять форму оформления заказа быстрее
					//.input-cont
						.input-row
							.size.size--lg.size--mark
								.size__el.size__el--active.js-switch(data-item="deliver" data-group="deliverType") Доставка
								.size__el.js-switch(data-item="self" data-group="deliverType") Самовывоз
					.input-row
						input(type="text" name="info" placeholder="Название адреса (дом, работа)*" ).input
					.input-row
						input(type="text" name="info" placeholder="Улица").input
					.input-cont.input-cont--two-sm
						.input-row
							input(type="text" name="info" placeholder="Дом").input
						.input-row
							input(type="text" name="info" placeholder="Корпус").input
					.input-cont.input-cont--two-sm
						.input-row
							input(type="text" name="info" placeholder="Подъезд").input
						.input-row
							input(type="text" name="info" placeholder="Этаж").input
					.input-cont.input-cont--two-sm
						.input-row
							input(type="text" name="info" placeholder="Квартира").input
						.input-row
							input(type="text" name="info" placeholder="Домофон").input

					.btn--md.btn--mark.btn--full.mb-12 Сохранить
					.btn--md.btn--light.btn--full.modal-hide Отмена
			// address === end

			// addressFalse
			.modal(data-modal="addressFalse")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Ваш адрес доставки:
					p.type--md.type--bold.type--center г. Москва, ул. Тимирязева, д. 30
					.modal-text к сожалению мы не доставляем по данному адресу, вы можете выбрать один из вариантов доставки
					.deliver-other
						a(href="#")
							img(src="img/deliver-yandex.png", alt="")
						a(href="#")
							img(src="img/deliver-club.png", alt="")
			// addressFalse === end

			// item
			.modal.modal-item.modal--xxl(data-modal="item")
				.modal-content.item-modal-container
					.modal-close
						+icon("close","icon")
					.item-wrap.item-wrap--modal
						.item-col
							.item-img(style="background-image:url('img/item-card-1.jpg')")
						.item-info.mt-16.scroll-template
							.type--xl.type--head.mb-6 Четыре сыра
								.tooltip.tooltip--icon ?
									.tooltip-cont.tooltip-cont--bottom-center
										.tooltip-conner
										.consist
											.type--sm.type--bold.mb-12 Пищевая ценность:
											.consist__el
												.consist__el-name Жиры, г
												.consist__el-val 9.90
											.consist__el
												.consist__el-name Белки, г
												.consist__el-val 10.50
											.consist__el
												.consist__el-name Углеводы, г
												.consist__el-val 24.90
											.consist__el
												.consist__el-name Пищевая ценность, Ккал
												.consist__el-val 230.70
							a(href="#").icon-row.mb-16
								.type--main Перейти в карточку
								.arrow.arrow--sm.arrow--mark
									+icon("arrow-conner-right","icon")

							.item-descr
								-
									var items = [
										'Сыр',
										'Пицца-соус',
										'Перец болгарский',
										'Куриное филе',
										'Моцарела',
									];
								each item in items
									.mix.js-toggle
										.mix__name #{item}
										.mix__icon
											+icon("close","icon icon--true")
											+icon("repeat","icon icon--false")
								each itemEl in items
									<span> #{itemEl}, </span>

							// size
							.size.size--mark.size--sm.size--fluid.mb-24
								.size__el.size__el--active 15 см
								.size__el 30 см
								.size__el 45 см
							// size === end

							// size
							.size.size--mark.size--sm.size--fluid.mb-32
								.size__el.size__el--active Супертесто
								.size__el Тонкое
							// size === end

							//item-config
							.title Дополнительные ингредиенты
							.item-config-row.item-config-row--full.js-ingr-wrap.mb-24(data-min="0" data-max="3")
								- for (var i=0;i<3;i++)
									.item-prop.js-ingr-row
										.item-prop__img(style="background-image:url('img/prop-3.jpg')")
										.item-prop__title Томатний соус <span class="type--gray">/ 50г</span>
										.item-prop__incr
											+incr(false,"incr--single incr--mark-light incr--mdx")
										.item-prop__cost 29 р
									.item-prop.js-ingr-row
										.item-prop__img(style="background-image:url('img/prop-4.jpg')")
										.item-prop__title Сметана <span class="type--gray">/ 50г</span>
										.item-prop__incr
											+incr(false,"incr--single incr--mark-light incr--mdx")
										.item-prop__cost 34 р
									.item-prop.js-ingr-row
										.item-prop__img(style="background-image:url('img/prop-5.jpg')")
										.item-prop__title Чесночный соус <span class="type--gray">/ 50г</span>
										.item-prop__incr
											+incr(false,"incr--single incr--mark-light incr--mdx")
										.item-prop__cost 16 р
								.msg.msg--info.m-32.hidden
									// .msg--info || .msg--alert
									.msg-text Вы можете добавить до 6-ти доп. ингрединтов
							//  item-config === end
					.item-modal-total
						.item-modal-total-wrap
							// item total
							.item-total-descr.mb-6
								.type--main Старая цена: 1540р (экономия 200 р)
							.item-total
								+incr(1,"incr--single incr--mark-light incr--lg")
								.item-total-get Заказать <br> за 1112 руб
			// item === end
			//=====================================

			// area
			.modal.modal--xl(data-modal="area")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-head
						.modal-title.modal-title--left 125 заведений в 50 городах
					.city-current.icon-row
						span.type--lg.type--bold Москва
						+icon("delete","icon icon--sm icon--left")
					.city
						.city-search
							input(type="text" placeholder="Введите название города" class="input input--empty")
							.search__icon
								+icon("search","icon")
					.input-cont.input-cont--extend.input-cont--two
						.input-row
							.size.size--lg.size--mark
								.size__el.size__el--active.js-switch(data-item="deliver" data-group="deliverType") Доставка
								.size__el.js-switch(data-item="self" data-group="deliverType") Самовывоз
					.area-map
						.area-map__el
							//put map code her
						.area-msg-layer
							//remove class hidden for area-msg-layer + item msg
							.area-msg
								.area-msg__text Вы подтверждаете самовывоз с пиццерии
									span Речной вокзал
								.area-msg-nav
									.btn--sm.btn--mark Да, всё верно
									.btn--sm.btn--light Отмена
							.area-msg.hidden
								.area-msg__text.text
									p Адрес: ул. Московская, дом 24
									p К сожалению, ваш адрес не входит ни в одну зону доставки, воспользуйтесь самовывозом
								.area-msg-nav
									.btn--sm.btn--mark Да, всё верно
									.btn--sm.btn--light Отмена
							.area-msg.hidden
								.area-msg__text
									p Адрес: <strong>ул. Живописная, дом 49 </strong>
									p Телефон: <strong>+7 (499) 553-00-40 доб. 107 </strong>
									p Время приёма заказов: <strong>10 - 23 </strong>
									p Время доставки: <strong>35 мин </strong>
									p Минимальная сумма заказа: <strong>500 руб </strong>
								.area-msg-nav
									.btn--sm.btn--mark.btn--mobile Подтверждаю
									.btn--sm.btn--light.btn--mobile Продолжить выбор
			// area === end

			// editPhone
			.modal(data-modal="editName")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Редактирование Имени
					.input-row
						input(type="text" name="name" value="Константин" placeholder="Имя").input
					.btn--md.btn--mark.btn--full Изменить
			// editPhone === end

			// editPhone
			.modal(data-modal="editPhone")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Редактирование телефона
					.input-row
						input(type="phone" name="phone" value="8(495)320-07-39" placeholder="Телефон").input.input-mask--phone
					.btn--md.btn--mark.btn--full Изменить
			// editPhone === end

			// editMail
			.modal(data-modal="editMail")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Редактирование почты
					.input-row
						input(type="email" name="email" value="mail@mail.com" placeholder="Ваш email").input
					.btn--md.btn--mark.btn--full Изменить
			// editMail === end

			// editBorn
			.modal.modal--lg(data-modal="editBorn")
				.modal-content
					.modal-close
						+icon("close","icon")
					.modal-title Редактирование даты рождения
					.g.g-3.g-gap-10.xs-g-gap-0
						.input-row
							.dropdown.dropdown--lg
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-current__val 12
									+icon("arrow-down-fat","icon")
								.dropdown-menu
									- for (var i=1;i<30;i++)
										.dropdown-menu__el(data-value="#") #{i}
						.input-row
							.dropdown.dropdown--lg
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-current__val Январь
									+icon("arrow-down-fat","icon")
								.dropdown-menu
									- for (var i=0;i<20;i++)
										.dropdown-menu__el(data-value="#") Январь
						.input-row
							.dropdown.dropdown--lg
								input(type="hidden" name="name" value="0")
								.dropdown-current
									.dropdown-current__val 1992
									+icon("arrow-down-fat","icon")
								.dropdown-menu
									- for (var i=0;i<20;i++)
										.dropdown-menu__el(data-value="#") 1980
					.msg.msg--info.mb-24
						.type--xs Будьте внимательны, после внесения данных, день рождения нельзя будет изменить
					.mb-12
						.flex.f-gap-12
							.tick.active.js-toggle
							.type--xs Разрешаю информировать меня о скидках и акциях по email
					.mb-24
						.flex.f-gap-12
							.tick.active.js-toggle
							.type--xs Разрешаю информировать меня о скидках и акциях по смс
					.btn--md.btn--mark.btn--full Изменить
			// editBorn === end